<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <!-- 这种方式会引起页面重定向，图片上传成功后页面跳转到 /uploadImg，用户体验较差 -->
    <!-- 文件上传需指定 enctype 为 multipart/form-data -->
    <form action="/uploadImg" method="post" enctype="multipart/form-data">
        <h2><%= title %></h2>
        <input type="file" name="img">
        <input type="submit" value="提交">
    </form>
</body>
</html>