<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <div>
        <h2><%= title %></h2>

        <!-- target="form-iframe" 是关键，设置表单往 name="form-iframe" 提交，也就是往 iframe 提交 -->
        <form action="/uploadImg" method="post" enctype="multipart/form-data" target="form-iframe">
            <input type="file" name="img">
            <input type="submit" value="提交">
        </form>
    </div>
</body>

<script>
    document.querySelector('input[type=submit]').onclick = e => {
        // 去掉浏览器默认行为
        if (e.preventDefault) {
            e.preventDefault();
        } else {
            e.returnValue = fasle;
        }

        let form = document.querySelector('form');
        let iframe = document.createElement("iframe");

        iframe.width = 0;
        iframe.height = 0;
        iframe.border = 0;
        iframe.id = "form-iframe";
        iframe.name = "form-iframe";

        form.appendChild(iframe);
        form.submit();
        
        // iframe load 图片的时候，获取里面的内容到外面来
        iframe.onload = function(){
            //获取 iframe 的内容，即服务返回的数据
            let responseData = this.contentDocument.body.textContent || this.contentWindow.document.body.textContent;

            let img = document.createElement("img");
            img.src = JSON.parse(responseData).data;

            // 追加到页面展示
            form.insertBefore(img, document.querySelector('input[type=submit]'));

            //删掉iframe
            setTimeout(function(){
                let _frame = document.getElementById("form-iframe");
                _frame.parentNode.removeChild(_frame);
                // _frame.remove(); // 这样也可以
            }, 100);
        }
    }
</script>
</html>