*{margin:0; padding:0;}
body{background-image: url('../img/bg.jpg')}
/*.container{position:relative; perspective:400px; height:100%;}
.box{position:relative; width:129px; height:1170px; margin:0 auto; transform-style: preserve-3d; transform-origin: 50% 50%;}
.box div{position:absolute; width:129px; height:100%; background-size: 100%;}*/
.operator{
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 100;
    color: #fff;
}
.container{
	margin: 0 auto 0 auto;
	width: 8.0625rem;
	perspective: 25rem;
}

.box{
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-perspective-origin: 50% 50%;
}

.box > div{
	position: absolute;
	width: 8.0625rem;
	height: 73.125rem;
}